* {
  box-sizing: border-box;
}

body{
  font-family: "Livvic", "Arial", sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  margin: 0;
  color: white;
}

.site {
  background-color: #014E56;
}

.container {
  max-width: 1150px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header{
  display: flex;
  padding: 20px;
  justify-content: space-between;
}

.myteam-title{
  display: flex;
}

.logo-img{
  display: block;
  width: 160px;
  height: 40px;
  margin: 0%;
  margin-top: 10px;
  transition: 0.5s ease;
}

.logo-img:hover{
  transform: scale(1.2);
}

.myteam-title-child{
  display: flex;
}

.list-1{
  list-style: none;
  display: flex;
  margin-left: 50px;
}

.item-1{
  padding: 7px;
  margin-left: 20px;
}

.item-1-link:hover{
  color: #F67E7E;
}

.item-1-link{
  color:white;
  text-decoration: none;
  transition: 0.3s ease;
}

.link-header{
  margin-top: 20px;
}


.link-contact{
  color: white;
  text-decoration: none;
  border: solid 2px white;
  border-radius: 24px;
  padding: 10px; 
  transition: 0.5s ease ; 
}


.link-contact:hover {
  background-color: white;
  border: solid 2px white;
  color: #014E56;
}


.hamburger {
  display: none;
  border: none;
  background-color: transparent;
}

.hamburger-img {
  display: block;
  height: 17px;
  width: 20px;
}

/* SITE INRO */

.site-intro {
  background-color: #014e56;
  background-image: url("../img/disk_1.svg");
  background-size: 300px 200px;
  background-repeat: no-repeat;
  background-position: calc(50% - 680px) 70px;
}

.intro-inner {
  padding-top: 56px;
  padding-bottom: 250px;
  display: flex;
  height: 570px;
  align-items: center;
  justify-content: space-between;
  background-size: 358px 200px;
  background-image: url("../img/Group7.svg");
  background-repeat: no-repeat;
  background-position: right calc(50% + 200px);
}

.intro-title {
  max-width: 535px;
  margin: 0;
  font-weight: 700;
  font-size: 100px;
  line-height: 100px;
}

.intro-title span {
  color: #f67e7e;
}

.intro-text {
  max-width: 445px;
}

.intro-text::before {
  margin-bottom: 79px;
  display: block;
  width: 50px;
  height: 4px;
  background-color: #79c8c7;
  content: "";
}

.distribute {
  background-color: #012f34;
}

.distribute-inner {
  padding-top: 140px;
  padding-bottom: 140px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.distribute-heading {
  position: relative;
  margin: 0;
  width: 445px;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
}

.distribute-heading::before {
  position: absolute;
  top: -54px;
  width: 50px;
  height: 4px;
  background-color: #f67e7e;
  content: "";
}

.distribute-list {
  width: 445px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.distribute-item {
  position: relative;
  margin-bottom: 32px;
  display: flex;
}

.distribute-item::before {
  position: absolute;
  left: -90px;
  display: block;
  width: 72px;
  height: 72px;
  content: "";
}

.distribute-item:nth-child(1)::before {
  background-image: url("../img/productivity.png");
}

.distribute-item:nth-child(2)::before {
  background-image: url("../img/implement.png");
}

.distribute-item:nth-child(3)::before {
  background-image: url("../img/indeividuals.png");
}

.distribute-item:nth-last-child(1) {
  margin-bottom: 0;
}

.distribute-item-title {
  margin: 0;
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: #f67e7e;
}

.distribute-item-text {
  margin: 0;
  opacity: 0.8;
}

.succes{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  max-width: 600px;
  color: white;
}

.succes-content{
  background-color: #014E56;
  margin: 0%;
}

.succes-h2{
  margin: 0%;
  margin-right: 0%;
  padding-top: 20px;
  padding-bottom: 30px;
}


.list-3{
  list-style: none;
  display: flex;
  margin: 0%;
  padding: 0px;
  justify-content: space-around;
}

.item-3{
  text-align: center;
  color: white;
  max-width: 350px;
  max-height: 400px;
  padding-bottom: 30px;
}

.succes-color{
  margin: 0px;
  color: cyan;
}

.picture-name{
  color: cyan;
}



.link-contact-2{
  color: white;
  text-decoration: none;
  border: solid 2px white;
  border-radius: 24px;
  padding: 10px; 
  transition: 0.5s ease ; 
}

.get{
  height: 200px;
  background-color: #F67E7E;
  background-image: url('../img/disk-get.svg');
  position: 200px;
  background-repeat: no-repeat;
  background-position: calc(50% - 650px) ;
  background-position-y: 80px;
  
}

.get-child{
  display: flex;
  padding-top: 30px;
  justify-content: space-between;
}

.get-child-h2{
  font-size: 30px;
  margin: 0;
  padding-top: 10px;
  color: #012f34;
}

.link-contact-3{
  max-width: 200px;
  height: 40px;
  color: #012f34;
  text-decoration: none;
  border: solid 2px #012f34;
  border-radius: 24px;
  padding: 5px; 
  transition: 0.5s ease ; 
}


.link-contact-3:hover {
  background-color: white;
  border: solid 2px  #014E56;
  color: #014E56;
}

.end-footer{
  display: flex;
  background-color: #012f34;
}

.list-2{
  list-style: none;
  display: flex;
  padding: 0px;
}

.item-2{
  padding: 7px;
}

.item-2-link:hover{
  color: #F67E7E;
}

.item-2-link{
  color:white;
  text-decoration: none;
  transition: 0.3s ease;
}

.footer-content{
  max-width: 900px;
  display: flex;
  padding-top: 40px;
}

.content-text{
  margin-left: 200px;
}

.aloqa-2{
  display: none;
}


.content-text-2{
  display: none;
}




@media only screen and (max-width: 1000px) {
  .distribute-inner {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 97px;
    padding-right: 97px;
    flex-direction: column;
    align-items: flex-start;
  }

  .distribute-heading {
    margin-bottom: 64px;
    width: 100%;
    font-size: 32px;
    line-height: 32px;
  }

  .distribute-heading::before {
    top: -32px;
  }

  .distribute-list {
    width: 100%;
    max-width: 683px;
    padding-left: 85px;
  }

  .distribute-item-text {
    line-height: 15px;
  }
}

@media only screen and (max-width: 600px) {
  .distribute-inner {
    padding-top: 64px;
    padding-bottom: 64px;
    padding-left: 24px;
    padding-right: 24px;
    flex-direction: column;
    align-items: flex-start;
  }

  .distribute-heading {
    width: 100%;
    /* max-width: 240px; */
    margin-bottom: 56px;
  }

  .distribute-item::before {
    top: -50px;
  }
}

@media only screen and (max-width: 930px) {
  .end-footer{
    background-color: #012f34;
  }

  .end-footer{
    display: flex;
    background-color: #012f34;
  }
}
  
  .list-2{
    list-style: none;
    display: flex;
    padding: 0px;
  }
  .none-div{
    margin-left: 50px;
  }
  
  .item-2{
    padding: 7px;
  }
  
  .item-2-link:hover{
    color: #F67E7E;
  }
  
  .item-2-link{
    color:white;
    text-decoration: none;
    transition: 0.3s ease;
  }
  
  .footer-content{
    display: flex;
    padding-top: 40px;
  }
  
  .content-text{
    width: 00px;
    margin-left: 200px;
  }

  .aloqa-2{
    display: inline-block;
  }

  .aloqa{
    display: none;
  }
  


  .content-text{
    display: none;
  }

  .content-text-2{
    display: inline-block;
  }







/* PAGE-2 */

.site-intro-2 {
  background-color: #014e56;
}


.intro-text-2 {
  max-width: 745px;
}

.intro-text-2::before {
  margin-bottom: 69px;
  display: block;
  width: 50px;
  height: 4px;
  background-color: #79c8c7;
  content: "";
}

.big-meet{
  background-color: #014e56;
}
.meet{
  background-color:  #004047 ;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}

.directors{
  background-color: #004047;
  text-align: center;
}

.directors-h2{
  text-align: center;
  color: white;
  font-size: 35px;
}

.list-4{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  list-style: none;
}

.item4{
  color: white;
  width: 300px;
  margin: 20px;
  padding-top: 20px;
  background-color: #012F34;
}

.item4-h4{
  color: #79C8C7;display: flex;
  justify-content: center;
}

.plus{
  width: 90px;
  height: 90px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 40px;
  border-radius: 54px;
  background-color: #f67e7e;
}

.plus:hover{
  transition: 0.5s ease;
  background-color: #79C8C7;
  transform: rotate(45deg);
}


.plus2{
  width: 90px;
  height: 90px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  position: relative;
  top: 40px;
  border-radius: 54px;
  background-color: #f67e7e;
}

.plus2:hover{
  transition: 0.5s ease;
  background-color: #79C8C7;
  transform: rotate(45deg);
}

.plus2:active{
  transition: 0.5s ease;
  background-color: gold;
  border: solid 5px;
}

.plus-img{
  margin-top: 35px;
}

.plus-img2{
  margin-top: 35px;
}

.clients{
  background-color: #014e56;
  margin-top: -30px;
}

.clients-child{
  margin-top: 0px;
}

.client-h2{
  text-align: center;
  font-size: 35px;
  padding-top: 20px;
}

.list-6{
  display: flex;
  list-style: none;
  font-size: 20px;
  justify-content: center;
}

.item-7{
  padding-right: 20px;
}
.item-8{
  padding-right: 20px;
}
.item-9{
  padding-right: 20px;
}
.item-10{
  padding-right: 20px;
}
.item-11{
  padding-right: 20px;
}




@media only screen and (max-width: 650px) {
  .item4{
    color: white;
    width: 300px;
    margin: 20px;
    padding-top: 20px;
    background-color: #012F34;
  }
  
  .item4-h4{
    color: #79C8C7;
    display: flex;
    align-items: center;
  }
}



@media only screen and (max-width: 650px){
  .intro-text-2 {
    text-align: center;
    max-width: 445px;
  }

  .intro-text-2::before {
    display: none;
    margin-bottom: 69px;;
    width: 50px;
    height: 4px;
    background-color: #79c8c7;
    content: "";
  }
  
} 

@media only screen and (max-width: 890px){
  .footer-content{
    max-width: 400px;
  }

}

@media only screen and (max-width: 1160px) {
  .intro-inner {
    background-position: center 430px;
  }
}

@media only screen and (max-width: 930px) {
  
}

@media only screen and (max-width: 1020px) {
  .intro-inner {
    background-position: center 440px;
  }

  .intro-title {
    font-size: 64px;
    line-height: 56px;
  }

  .intro-text::before {
    display: none;
  }
}

@media only screen and (max-width: 900px) {

  .intro-inner {
    padding-top: 49px;
    padding-bottom: 256px;
    flex-direction: column;
    background-position: center 460px;
  }

  .intro-title {
    text-align: center;
  }

  .intro-text {
    text-align: center;
  }
}


@media only screen and (max-width: 555px) {
      
 

  .link-header{
    display: none;
    margin-top: 20px;
  }


  .directors-h2{
    background-color: #004047;
    text-align: center;
    height: 70px;
  }
  
  .end-img{
    padding: 10px;
  }

 

} 

@media only screen and (max-width: 900px) {
  .intro-inner {
    padding-bottom: 250px;
    display: flex;
    height: 570px;
    align-items: center;
    background-size: 358px 200px;
    background-image: url("../img/Group7.svg");
    background-repeat: no-repeat;
    background-position: center calc(30% + 320px);
  }
}

@media only screen and (max-width: 581px) {
  
.hamburger {
  display: inline-block;
  border: none;
  background-color: transparent;
}

.hamburger-img {
  display: block;
  height: 17px;
  width: 20px;
}
.link-contact{
  display: none;
  color: white;
  text-decoration: none;
  border: solid 2px white;
  border-radius: 24px;
  padding: 10px; 
  transition: 0.5s ease ; 
}
.myteam-title-child {
  display: none;

  }
}

@media only screen and (max-width: 1080px) {
  
.list-3{
  list-style: none;
  display: block;
  align-items: center;
}

.item-3{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: white;
  max-width: 350px;
  max-height: 400px;
  padding-top: 40px;
}

.succes-content{
  background-color: #014E56;
}


}

@media only screen and (max-width: 460px) {
  .get-child{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .get-child-h2{
    font-size: 30px;
    margin: 0;
    padding-top: 10px;
    color: #012f34;
  }
  
  .link-contact-3{
    margin-top: 20px;
    max-width: 200px;
    height: 40px;
    color: #012f34;
    text-decoration: none;
    border: solid 2px #012f34;
    border-radius: 24px;
    padding: 5px; 
    transition: 0.5s ease ; 
  }

  .get{
    height: 200px;
    background-color: #F67E7E;
    background-image: url('../img/disk-get.svg');
    position: 200px;
    background-repeat: no-repeat;
    background-position: calc(50% - 0px) ;
    background-position-y: 1700px;
    
  }
}

@media only screen and (max-width: 800px) {
  .get-child{
    display:  flex;
    padding-top: 30px;
  }
  
  .get-child-h2{
    font-size: 30px;
    margin: 0;
    padding-top: 10px;
    color: #012f34;
  }
  
  .link-contact-3{
    max-width: 200px;
    height: 40px;
    color: #012f34;
    text-decoration: none;
    border: solid 2px #012f34;
    border-radius: 24px;
    padding: 5px; 
    transition: 0.5s ease ; 
  }
  
  
  .link-contact-3:hover {
    background-color: white;
    border: solid 2px  #014E56;
    color: #014E56;
  }

}


@media only screen and (max-width: 320px) {
  .succes-h2{
    margin: 0%;
    padding-top: 30px;
    padding-bottom: 30px;
    max-width: 400px;
  }

  .item-3{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: white;
    max-width: 350px;
    max-height: 600px;
    padding-top: 40px;
  }

  .list-3{
  list-style: none;
  display: flex;
  margin: 0%;
  justify-content: space-around;
}
}

@media only screen and (max-width: 1070px) {
  .get{
    height: 200px;
    background-color: #F67E7E;
    background-image: url('../img/disk-get.svg');
    position: 200px;
    background-repeat: no-repeat;
    background-position: calc(50% - 0px) ;
    background-position-y: 100px;
    
  }
}